<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<h1 class="bg-dark text-white"  style="text-align:center"  >Welcome To Internellege</h1>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static 'im1.jpg'%}"width="100%" height="300" >
    </div>
    <div class="carousel-item">
      <img src="{%static 'im2.jpg'%}" width="100%" height="300">
    </div>
    <div class="carousel-item">
      <img src="{%static 'im3.jpg'%}"width="100%" height="300" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<h1 style="text-align:center"> Company is Added Successfully</h1>
</body>
</html>