{% if msg %}

<script>
alert ("invalid credentials")
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sign</title>
</head>
<body>
<h1 class="bg-dark text-white"  style="text-align:center"  >Welcome To Internellege</h1>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static 'im1.jpg'%}"width="100%" height="300" >
    </div>
    <div class="carousel-item">
      <img src="{%static 'im2.jpg'%}" width="100%" height="300">
    </div>
    <div class="carousel-item">
      <img src="{%static 'im3.jpg'%}"width="100%" height="300" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>





<div class="container p-3 my-3 bg-dark text-white" style="text-align:center">
<form action="/postsignin/" method="post">
     {% csrf_token %}
    Email   :
    <input type="email" name="email"><br><br>
     Password:
    <input type="password" name="pass"><br><br>
    <input type="submit" class="btn btn-success" ><br><br>
    <button type="button" class="btn btn-primary" class="btn btn-info" value="signup" onclick="location.href='{%url 'signup'%}'">signup</button><br>
</form>

</div>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>